<div class="strategy">
  <div
    *ngIf="latestNewNotifications$ | async as latestNewNotifications"
    class="strategy__notifications"
  >
    <yolo-information-preview
      *ngFor="let latestNewNotification of latestNewNotifications"
      class="strategy__info-preview"
      infoIcon="info_outlined"
      actionIcon="cancel"
      [infoText]="latestNewNotification.title"
      (actionClicked)="gotoNotifications(latestNewNotification)"
      (close)="closePreview(latestNewNotification)"
      [attr.data-test]="'data__noti-item-' + latestNewNotification.title"
    >
    </yolo-information-preview>
  </div>
</div>
