<div>
  <div class="title">{{ "YOLO.USER.NOTIFICATION.TITLE" | translate }}</div>
  <mat-accordion
    *ngIf="notifications$ | async as notifications; else notLoadedTemplate"
    class="notifications"
  >
    <ng-container
      *ngFor="let notification of notifications; trackBy: trackByObj"
    >
      <yolo-notification-item
        *ngIf="notification.active"
        [notification]="notification"
        [username]="userName$ | async"
        [expand]="
          notification
            | universalTransform
              : sameNotification
              : (notificationToExpand$ | async)
        "
        (deleteNotification)="deleteNotification($event)"
        (expansionOpened)="expansionOpened(notification)"
        [attr.data-test]="'data__noti-item-' + notification.title"
      ></yolo-notification-item>
    </ng-container>
  </mat-accordion>
  <ng-template #notLoadedTemplate> </ng-template>
</div>
