// yova colors
$yova-blue-10: rgb(84, 18, 220);
$yova-green-10: rgb(112, 173, 71);
$yova-yellow-10: rgb(255, 176, 0);
$yova-purple-10: rgb(108, 0, 202);
$yova-red-10: rgb(192, 0, 0);
$yova-white-10: rgb(255, 255, 255);
$yova-orange-10: rgb(237, 125, 49);
$yova-gray-10: rgb(127, 127, 127);
$yova-gray-15: rgb(38, 38, 38);
$yova-gray-20: rgb(89, 89, 89);
$yova-gray-25: rgb(166, 166, 166);
$yova-gray-30: rgb(191, 191, 191);
$yova-gray-40: rgb(217, 217, 217);
$yova-gray-50: rgb(242, 242, 242);

