// yolo colors
$yolo-blue-10: rgb(84, 18, 220);
$yolo-green-10: rgb(112, 173, 71);
$yolo-yellow-10: rgb(255, 176, 0);
$yolo-purple-10: rgb(108, 0, 202);
$yolo-red-10: rgb(192, 0, 0);
$yolo-white-10: rgb(255, 255, 255);
$yolo-orange-10: rgb(237, 125, 49);
$yolo-gray-10: rgb(127, 127, 127);
$yolo-gray-15: rgb(38, 38, 38);
$yolo-gray-20: rgb(89, 89, 89);
$yolo-gray-25: rgb(166, 166, 166);
$yolo-gray-30: rgb(191, 191, 191);
$yolo-gray-40: rgb(217, 217, 217);
$yolo-gray-50: rgb(242, 242, 242);

//theme
$yolo-background: #f8f6f1;
$yolo-new: #a3d0da;
$yolo-new-10: #dbecf0;

// Basic units and Spacers
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;
$spacer-xl: 48px;
$spacer-xxl: 96px;
$oneRemPxCount: 16;

$small: 300px;
$medium: 900px;
$large: 1024px;

// Fonts / Text
$font-family-text: Roboto, "Helvetica Neue", sans-serif; ;
