// Inline text semantics/ Font style & weight
@mixin page-title() {
  @include text--size-large-10();
  @include yova-type-text-bold();
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
}

@mixin info-message-header-margin() {
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
}
