// Inline text semantics/ Font style & weight
@mixin yolo-type-regular() {
  font-family: $font-family-text;
  font-weight: 300;
}

@mixin yolo-type-text-bold() {
  font-family: $font-family-text;
  font-weight: 500;
}

@mixin text() {
  font-size: 1rem;
}

@mixin text--size-small-10 {
  font-size: 0.6rem;
  line-height: 0.7rem;
}

@mixin text--size-small-20 {
  font-size: 0.8rem;
  line-height: 0.9rem;
}

@mixin text--size-small-30 {
  font-size: 0.9rem;
  line-height: 1rem;
}

@mixin text--size-large-05 {
  font-size: yolo-px-to-rem(18);
  line-height: yolo-px-to-em($pxValue: 20, $oneEm: 18);
}

@mixin text--size-large-10 {
  font-size: yolo-px-to-rem(22);
  line-height: yolo-px-to-em($pxValue: 24, $oneEm: 22);
}

@mixin text--size-large-30 {
  font-size: yolo-px-to-rem(26);
  line-height: yolo-px-to-em($pxValue: 28, $oneEm: 26);
}

@mixin text--size-large-50 {
  font-size: yolo-px-to-rem(30);
  line-height: 1.2em;
}

@mixin text--size-large-70 {
  font-size: yolo-px-to-rem(34);
  line-height: yolo-px-to-em($pxValue: 36, $oneEm: 34);
}

@mixin icon--size-small {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

@mixin icon--size-large {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}
