
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: $font-family-text
);

@include angular-material-typography($custom-typography);

html, body { height: 100%; }

body {
  margin: 0;
  font-family: $font-family-text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $yova-gray-15;
  text-align: left;
  background-color: $yova-background !important;
  a{
    color: $yova-gray-15;
  }
}
